<h1> All Stations matching your results</h1>

<section id="Stations">

<% facade.stations.each do |station| %>
  <li class="station"> <%= station.name %>
    <ul>

    </ul>
  </li>
<% end %>

</section>
